<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,user-scalable=no,inital-scale=1.0" />
        <title>我耶不知道要叫个什么名字</title>
        <link href="styles/layout.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="cPanel">
            <a href="javascript: history.go(-1);"><img src="images/btn_back.png" /></a>
            <span>80后什么什么的</span>
        </div>
        <div class="profile">
            <img src="images/avatar.png" />
            <div>
                <span class="uname">法名妙如</span><br />
                <span>35分钟前</span>
            </div>
        </div>
        <div class="textContent">
            <div class="textTitle">80后的豪宅</div>
            <div class="bName">中德英伦联邦</div>
            <div class="content">关于踩盘日记 万科金色领域的新闻 踩盘日记:万科金色领域麻辣踩盘日志麻辣踩盘</div>
            <div class="preview"><img src="images/contentPic.png" /></div>
        </div>
        <div class="comments">
            <div class="wrapper">
                <span>评论(2)</span>
            </div>
            <div class="comment">
                <img src="images/avatar.png" />
                <div class="commentText">法名妙如<br />回复 <span class="target">张三</span> : 在人民战争的汪洋大海中，你觉悟吧！.<br /><span class="stump">35分钟前</span></div>
                <div style="clear: both;"></div>
            </div>
            <div class="comment">
                <img src="images/avatar.png" />
                <div class="commentText">法名妙如<br />回复 <span class="target">张三</span> : 在人民战争的汪洋大海中，你觉悟吧！.<br /><span class="stump">35分钟前</span></div>
                <div style="clear: both;"></div>
            </div>
            <div class="comment">
                <img src="images/avatar.png" />
                <div class="commentText">法名妙如<br />回复 <span class="target">张三</span> : 在人民战争的汪洋大海中，你觉悟吧！.<br /><span class="stump">35分钟前</span></div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div class="slogan">
            <span class="SA">更多楼盘麻辣点评，尽在好房立即惠...</span>
            <br /><br />
            <span class="SB">【好房立即惠】全城房媒记者团免费导购、专业砍价，您首选的买房“省钱帮手”。房房有折、刀刀见血！</span>
        </div>
        <div class="btnDownload">
            <span>进入下载</span>
        </div>
        <div class="footer">来自-好房立即惠@成都搜楼网</div>
    </body>
</html>